<form action="{{ path('create-fish-report') }}" method="post">

    {{form_label(form.date)}}{{form_widget(form.date)}}
    {{form_label(form.site)}}{{form_widget(form.site)}}
    {{form_label(form.fishCountReports)}}{{form_widget(form.fishCountReports)}}


</form>